@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300..600&display=swap");

body {
  --jet: #333232ff;
  --melon: #f7b2adff;
  --pale-dogwood: #ceb7b3ff;
  --silver: #b7b7b7ff;
  --cambridge-blue: #9abca7ff;

  --layout-width: 900px;
  --sidebar-width: 300px;
  --sidebar-triangle-height: 50px;
  --sidebar-padding: 1rem;
  --sidebar-background: var(--pale-dogwood);
  --header-background: var(--jet);
  --header-color: white;

  font-family: "Montserrat", system-ui;
}

p {
  text-align: justify;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

main {
  font-weight: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.layout {
  max-width: var(--layout-width);
  display: grid;
  grid-template-areas:
    "header header"
    "column content";
}

header {
  display: flex;
  align-items: center;
  grid-area: header;
  padding: var(--sidebar-padding) 0;
  background-color: var(--header-background);
  color: var(--header-color);
}

header .avatar {
  width: var(--sidebar-width);
  text-align: center;
}

header img {
  border-radius: 20%;
  width: 100px;
  outline: 3px solid white;
}

header .title {
  flex-grow: 2;
  padding-left: var(--sidebar-padding);
}

header .title h1,
header .title h2 {
  font-weight: 400;
}

.sidebar,
.content {
  padding: var(--sidebar-padding);
}

.sidebar {
  width: var(--sidebar-width);
  grid-area: column;
  background-color: var(--sidebar-background);
  position: relative;
  font-size: 0.9rem;
}

.sidebar::before {
  content: " ";
  height: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: var(--header-background);
  height: var(--sidebar-triangle-height);
  width: 100%;
}

.sidebar section:first-child {
  margin-top: var(--sidebar-triangle-height);
}

.content {
  grid-area: content;
}

.content section h2,
.sidebar h2 {
  text-align: center;
  font-variant: all-petite-caps;
}

.content section h2::after,
.sidebar h2::after,
.content section h2::before,
.sidebar h2::before {
  content: "~";
  display: inline-block;
  margin: 0.2rem;
}

section p:last-child {
  margin-bottom: 0;
}

section dl dd {
  margin: 0;
}

.sidebar section dl dt {
  font-weight: 500;
  margin-top: 0.5rem;
}

.sidebar section dl dt:first-child {
  margin-top: 0;
}

.sidebar section dd ul {
  list-style: none;
  padding: 0.2rem;
}

.sidebar section dd ul li {
  margin: 0.4rem;
}

.sidebar section.contact dl {
  text-align: center;
}

.sidebar section, .sidebar h2, .content h2 {
  margin: 1rem 0;
}

ul.skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  gap: 0.4rem;
  font-style: italic;
}

ul.skills li::after {
  content: " · ";
}

ul.skills li:last-child::after {
  content: "";
}

ul.hobbies {
  list-style: none;
  padding: 0;
}

ul.hobbies li {
  margin: 0.4rem 0;
}

ul.history {
  list-style: none;
  padding: 0;
}

ul.history li {
  margin: 0.4rem 0;
}